/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower


// VARIABLES
// =============================================================================

$font-size: 1rem;

$font-color: #333;
$font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

$z-index--1: 1010;
$z-index--2: 1020;
$z-index--3: 1030;
$z-index--4: 1040;
$z-index--5: 1050;
$z-index--6: 1060;



// BROWSER HAPPY
// =============================================================================
$browserHappy-height: 70;
.browsehappy {
  background-color: #fc3e3f;
  color: #fff;
  text-align: center;
  min-height: ($browserHappy-height/16) * 1rem;
  padding: 1.5rem;

  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index--6;

  a { color: #fd9868; }

  & + main { padding-top: ($browserHappy-height/16) * 1rem; }
}

pre {
  background-color: #fafafa;
  border: 1px solid darken(#fafafa, 10);
  padding: 1rem;
}


/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
