
<section class="section">

  <div>
    <div>
      <label for="input__tempoInvestimento">Tempo de investimento:</label>

      <rzslider id="input__tempoInvestimento"
      rz-slider-model="main.sliderConfigs.minValue"
      rz-slider-options="main.sliderConfigs.options"></rzslider>
    </div>

    <div>
      <label for="input__valorInvestido">Valor investido:</label>

      <input id="input__valorInvestido"
      name="valorInvestido"
      type="number" />
    </div>
  </div>

  Index SELIC: {{ ::main.index.SELIC }}
  <br />
  Index IPCA: {{ ::main.index.IPCA }}

  <div ng-if="main.treasuries.length > 0 && main.treasuries !== ''">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>titulo</th>
          <th>Tipo</th>
          <th>Taxa de rendimento / ano</th>
          <th>Valor nominal do percentual da taxa</th>
          <th>Lançamento</th>
          <th>Vencimento</th>
          <th>Valor quantidade minima</th>
          <th>Valor de compra da unidade</th>
          <th>Quanidade minima de compra</th>
          <th>Valor minimo de compra</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in main.treasuries">
          <td>{{ ::item.id }}</td>
          <td>{{ ::item.name }}</td>
          <td>{{ ::item.type.name }}</td>
          <td>{{ ::item.currentInterestRate }}</td>
          <td>{{ ::item.currentInterestPercentageValue }}</td>

          <td>{{ ::item.issueDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ ::item.maturityDate | date:'dd/MM/yyyy' }}</td>

          <td>{{ ::item.value }}</td>
          <td>{{ ::item.currentUnitValue }}</td>
          <td>{{ ::item.minimumQuantity }}</td>
          <td>{{ ::item.minimumValue }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!--
{{ (item.type.name == 'LFT' ? 'Selic' : item.type.name) }}
{{ (item.type.name == 'LTN' ? 'Tesouro Prefixado' : item.type.name) }}
{{ (item.type.name == 'NTN-B' ? 'IPCA+' : item.type.name) }}
{{ (item.type.name == 'NTNB PRINC' ? 'IPCA+ +J/6meses' : item.type.name) }}
-->
