div.form-content {
	span.error-content {
		padding: 10px;
		margin-bottom: 20px;
		display: inline-block;
		background-color: #FAFAD2;
		border: dashed 2px;
		border-color: red;
	}

	div.form-item {
		input {
			 margin: 10px 0;
		    text-align: right;
		    font-size: 20px;
		    width: 100px;
		}

		label, input {
			display: block;
		}
	}

	button {
		margin: 3px auto 0px auto;
	    padding: 6px;
	    border: 1px solid;
	    border-color: #7D8492;
	    background: #F0F0F0;
	    color: #000000;
	    font-size: 13px;
	    cursor: pointer;
	}
}
